<div class="schedule">
  <h2>Schedule</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="class-name">Course</th>
        <th class="date">Dates</th>
        <th class="price">Price</th>
        <th class="price">Early Bird</th>
        <th>Book &amp; Detail</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="class-name">
            <%= event.name %>
            <div class="date-name"><%= event.start_date.strftime("%e %B %Y") %></div>
          </td>
          <td class="date"><%= event.start_date.strftime("%e %B %Y") %></td>
          <td class="price">
            <%= number_to_currency(event.max_price, :unit => "฿ ") %>
          </td>
          <td class="price">
            <%= number_to_currency(event.low_price, :unit => "฿ ") %>
          </td>
          <td>
            <% if event.start_date < Date.today %>
              <a class="btn btn-info" href="<%= event.url_gallery %>">
                <i class="fa fa-file-image-o"></i></i>&nbsp;&nbsp;
                Gallery
              </a><br/>
            <% else %>
              <a class="btn btn-success"
                 href="<%= event.url %>">
                <i class="fa fa-calendar"></i>&nbsp;&nbsp;
                More detail
              </a><br/>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="inhouse-contact" >
  <h4 class="note">
    For Inhouse workshop, please contact
    <a href="tel:083-236-0009">083-236-0009</a> or
    <a href="mailto:kaewkanya@uxacademy.in.th">kaewkanya@uxacademy.in.th</a>
  </h4>
</div>
