<div class="schedule">
  <h2>Schedule</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="class-name">Course</th>
        <th class="date">Dates</th>
        <th class="price">Price</th>
        <th class="price">Early Bird</th>
        <th>Book &amp; Detail</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td class="class-name">
            <%= event.name %>
            <div class="date-name"><%= event.start_date.strftime("%e %B %Y") %></div>
          </td>
          <td class="date"><%= event.start_date.strftime("%e %B %Y") %></td>
          <td class="price">
            <%= number_to_currency(event.max_price, :unit => "฿ ") %>
          </td>
          <td class="price">
            <%= number_to_currency(event.low_price, :unit => "฿ ") %>
          </td>
          <td class="detail <%= event.expired? ? "expired" : "alive" %>">
            <a class="btn" href="<%= event.detail_url %>">
              <i class="fa"></i>
              <% if event.expired? %>
                <%= event.category.upcase %> Gallery
              <% else %>
                More detail
              <% end%>
            </a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="inhouse-contact" >
  <h4 class="note">
    For Inhouse workshop, please contact
    <a href="tel:083-236-0009">083-236-0009</a> or
    <a href="mailto:kaewkanya@uxacademy.in.th">kaewkanya@uxacademy.in.th</a>
  </h4>
</div>
