<div class="ticket-row">
  <div class="name">
    <%= name %>
  </div>
  <div class="price">
    <%= number_to_currency(price, :unit => "฿ ") %>
  </div>
  <div class="avaliable">
    <% if @order.blank? %>
      Avaliable
      <%= avaliable %>
      <%= "Ticket".pluralize(avaliable) %>
    <% else %>
      <%= select_tag :order,
        options_for_select(
          (1..avaliable).each { |n|
            [n,n]
          }, avaliable) %>
    <% end %>
  </div>
  <div class="description">
    <%= description %>
  </div>
</div>
