<div class="home">
  <%= render "shared/home_banner" %>
  <%= render "shared/home_ux_is" %>
  <%= render "shared/home_course" %>
  <%= render "shared/home_schedule" %>
  <%= render "shared/home_service" %>
  <%= render "shared/home_testimonial" %>
  <%= render "shared/home_client" %>
</div>

<p id="notice"><%= notice %></p>
