<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <strong>
        <%= pluralize(order.errors.count, "error") %>:
      </strong>

      <%= @order.errors.full_messages.map{|m| m}.join(", ") %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name , class: "control-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email , class: "control-label" %>
    <%= f.text_field :email, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :phone , class: "control-label" %>
    <%= f.text_field :phone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :condition, "Memo" , class: "control-label" %>
    <%= f.text_area :condition, class: "form-control"  %>
  </div>


  <% if @order.wht %>

    <h2>Withholding Tax</h2>
    <p>
      Please provide a withholding tax form for

      Kaewkanya Narkjarung (Tax ID: 3102002088075)<br/>
      8/66 moo 6 Salatammasop road<br/>
      Kweng Salatammasop Bangkok 10170
    </p>

    <div class="form-group">
      <%= f.label :company_name , class: "control-label" %>
      <%= f.text_field :company_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :company_address , class: "control-label" %>
      <%= f.text_area :company_address, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :company_tax_id, class: "control-label" %>
      <%= f.text_field :company_tax_id, class: "form-control" %>
    </div>

  <% end %>

  <div class="order-ticket">
    <h2>Summary</h2>
    <%= render "tickets", order: @order %>
  </div>

  <div class="payment">
    <h2>Payment form</h2>
    <%= render "payment" %>
  </div>

  <div class="actions">
    <%= f.hidden_field(:event_id) %>
    <%= f.hidden_field(:wht) %>
    <%= f.hidden_field(:ticket_early_bird) %>
    <%= f.hidden_field(:ticket_regular) %>
    <%= f.hidden_field(:ticket_last_ticket) %>

    <%= f.submit "Proceed to payment", id: "submit-payment", class: "btn btn-success submit" %>
  </div>

<% end %>
