<%= form_for(order) do |f| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :phone %>
    <%= f.text_field :phone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :condition %>
    <%= f.text_area :condition, class: "form-control"  %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :wht %> <%= f.label :wht %>
    </label>
  </div>

  <div class="form-group">
    <%= f.label :company_name %>
    <%= f.text_field :company_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_address %>
    <%= f.text_area :company_address, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :company_tax_id %>
    <%= f.text_field :company_tax_id, class: "form-control" %>
  </div>


  <div class="ticket-create">
    <h2>Tickets</h2>
    <%= render "shared/tickets", order: @order %>
  </div>

  <div class="actions">
    <%= f.submit "Proceed to payment", class: "btn btn-success submit" %>
  </div>
<% end %>
