<div class="event-detail">
  <div class="ticket">
    <h2>Ticket</h2>

    <%= form_for(order, url: new_order_path) do |f| %>
      <% if order.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

          <ul>
          <% order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= render partial: "ticket", locals: {
        name: "Early Bird",
        method: "ticket_early_bird",
        price: @event.price_early_bird,
        avaliable: 3,
        description: "Pay in 1 day after booking ticket and can not make any cancellation.",
        f: f
      } %>

      <%= render partial: "ticket", locals: {
        name: "Regular",
        method: "ticket_regular",
        price: @event.price_regular,
        avaliable: 2,
        description: "Cancellation can be possible 1 month before class.",
        f: f
      } %>

      <%= render partial: "ticket", locals: {
        name: "Last Ticket",
        method: "ticket_last_ticket",
        price: @event.price_last_ticket,
        avaliable: 4,
        description: "Cancellation can be possible 1 month before class.",
        f: f
      } %>

      <div class="ticket-row">
        <div class="note">
          Ticket ทั้ง 3 ประเภทไม่มีความแตกต่างในการร่วม Workshop ต่างกันที่ราคาอย่างเดียวครับ :-)<br/>
          ราคารวมค่าอาหารกลางวัน ขนม และ อุปกรณ์สำหรับ Workshop 2 วัน
        </div>
        <div class="submit">
          <%= button_tag(type: 'submit', class: "btn") do %>
            <i class="fa fa-ticket"></i>
            Booking
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
